<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
</head>

<body>
    <h1>PARAMETRE SAYFASI</h1>
    <p>Marka Adı: <%= parameters.markaAdi %></p>
    <p>Şehir Adı: <%= parameters.sehirAdi %></p>
</body>

</html>